/*Copyright 2019 井上葵*/
html {
  height: 100%;
}
body {
  height: 100%;
  font-family: "TsukuARdGothic-Regular", sans-serif;
  margin: 0;
  text-align: center;
}
button {
  font-family: "TsukuARdGothic-Regular", sans-serif;
  background-color: cornflowerblue;
  border: outset 3px cornflowerblue;
}
button:active {
  border-style: inset;
}
div {
  min-height: 100%;
  background-color: aliceblue;
  display: inline-block;
  padding: 0;
}
h1 {
  margin: 40px 0;
}
h3 {
  background-color: cadetblue;
  color: white;
}
h4 {
  background-color: maroon;
  color: lightcyan;
}
section {
  display: inline-block;
}
#file-guide {
  height: 32px;
  width: 100%;
}
@media screen and (min-width: 864px) {
  body {
    background-image: url('background.png');
  }
  button {
    font-size: 18px;
  }
  div {
    min-height: 100%;
    width: 864px;
  }
  h1 {
    font-size: 40px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 18px;
  }
  section {
    font-size: 18px;
    width: 720px;
  }
}
@media screen and (max-width: 768px) {
  button {
    font-size: 18px;
  }
  div{
    width: 100%;
    padding: 0;
  }
  h1 {
    font-size: 48px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 18px;
  }
  section {
    width: 100%;
    font-size: 18px;
  }
}